.shadowBtn {
  box-shadow: 0 0 3px 0.1px gray !important;
}

.borderDropdown {
  border-bottom: 3px solid #1c274c !important;
}

.itemsHover:hover {
  background-color: #0b6ac8 !important;
  color: white !important;
}
.addItemHover:hover {
  background-color: #27ae61 !important;
  color: white !important;
}

.tableHeader th {
  padding: 0px !important;
  margin-bottom: 24px !important;
}

.tableWidth {
  width: 65% !important;
  border-spacing: 0 10px !important;
  border-collapse: separate !important;
}
.tableWidthEnable {
  border-spacing: 0 10px !important;
  border-collapse: separate !important;
}

.tableWidthShowProperties {
  width: 84% !important;
  border-spacing: 0 10px !important;
  border-collapse: separate !important;
}

.heightItems {
  height: 83% !important;
}
.heightFormEnable {
  height: 65% !important;
}

.rowShadow:hover {
  box-shadow: 0 0 10px 0.1px gray !important;
}

.addBtnWidth {
  width: 18.5% !important;
  background-color: #27ae61 !important;
  padding-block: 12px !important;
}
