.accordionN {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.textSub{
  color: #A3A3A3 !important;
}

.logoutHover:hover {
  background-color: red !important;
  color: white !important;
}

.logoutHover:hover .logoutImg{
  content: url('../../Assets/Images/Vector\ \(4\).png');
}

/* .heightList{
  height: 60% !important;
} */

.logoutImg{
  content: url('../../Assets/Images/logout.png');
}


.sideBarWidth{
  width: inherit !important;
}