@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
:root {
  --text-main: #1c274c;
  --bg-blue: #0b6ac8;
  --bg-red: #fe130f;
  --bg-green: #0fe50b;
  --text-input: #c2c2c2;
  --gray: #8d98aa;
}

html {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
}

/* .tooltip-hover:hover {
  overflow: visible !important;
} */


.selection-cell {
  padding-block: 0.875rem !important;
  padding-inline: 0 !important;
  /* text-overflow: st !important; */
  /* white-space: ; */
  /* white-space: nowrap !important;
  width: 30px !important; */
}

body {
  font-family: "Cairo", sans-serif !important;
  font-weight: bold !important;
  /* position: fixed !important; */
  /* background-color: red !important; */
  /* width: 100vw !important; */
  /* height: 100% !important; */
}

::placeholder {
  font-size: 0.9375rem !important;
  font-weight: 500 !important;
  color: #9fa6b2 !important;
  direction: rtl !important;
  text-align: right !important;
}
::-webkit-input-placeholder {
  text-align: right !important;
}

.table-responsive tbody {
  height: 25rem !important;
  overflow-y: auto !important;
}

.loginEmail::placeholder {
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  direction: rtl !important;
  text-align: right !important;
}

.text-main {
  color: var(--text-main) !important;
}

.text-red {
  color: var(--bg-red) !important;
}

.text-gray {
  color: var(--gray) !important;
}
.text-green {
  color: var(--bg-green) !important;
}

.text-input {
  color: var(--text-input) !important;
}

.bg-main {
  background-color: var(--text-main) !important;
}

.bg-blue {
  background-color: var(--bg-blue) !important;
}

.bg-red {
  background-color: var(--bg-red) !important;
}

.bg-green {
  background-color: var(--bg-green) !important;
}

.bg-search {
  background-color: #fafafa !important;
}

.subSideBarActive.active {
  color: #707070 !important;
}

.accordion-button::after {
  margin-right: 0 !important;
}
[data-bs-target="#flush-collapseSix"]::after {
  background-image: url("./Assets/Images/coins.png") !important;
}

.sideBarActive.active::before {
  content: "";
  position: absolute !important;
  background-color: var(--text-main) !important;
  width: 2% !important;
  height: 120% !important;
  top: -5% !important;
  right: -1% !important;
  border-radius: 100% / 5px;
  box-shadow: 0 0 0.425rem 0 var(--text-main);
}

.itemsActive.active {
  background-color: var(--bg-blue) !important;
  color: white !important;
}
.addActive.active {
  background-color: #27ae61 !important;
  color: white !important;
}

.deleteActive.active {
  background-color: var(--bg-red) !important;
  color: white !important;
}

.fs30 {
  font-size: 1.875rem !important;
}
.fs15 {
  font-size: 0.9375rem !important;
}
.fs13 {
  font-size: 0.8125rem !important;
}
.fs12 {
  font-size: 0.75rem !important;
}

.fs20 {
  font-size: 1.25rem !important;
}

.curser-pointer {
  cursor: pointer;
}

.numPage {
  width: 1.875rem !important;
  height: 1.875rem !important;
}

.deleteHover:hover {
  background-color: var(--bg-red) !important;
  color: white !important;
}

.custom-modal-balance .modal-dialog {
  max-width: 70.625rem;
}

/* .modal-content {
  border-radius: 0 !important;
} */

.custom-modal-change .modal-dialog {
  max-width: 37.5rem;
}
